@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  font-family: Rubik, sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
}

header {
  width: 100%;
  height: 34px;
  display: flex;
  gap: 592px;
  margin-top: 24px;
  margin-left: 25px;
}
.logo {
  width: 154px;
  height: 28px;
  font-size: 24px;
  top: 1px;
  font-weight: 700;
  font-style: rubik;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 29px;
  font-size: 15px;
  font-style: arial;
}
.container1 {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  text-align: center;
  width: 1570px;
  height: 918px;
  margin-top: 82px;
  margin-left: 15px;
  background-image: url("https://s3-alpha-sig.figma.com/img/b46a/d358/59bfe92dcdb36ac2c2cd052f63c187cf?Expires=1717372800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=A7Yc~oTg8yFDq5rofvceZosfXW9I7gCsEdlnsx8WU-y9DtWG5vhW6KfUbonbbYgh-f5qVmOucL-Zb~wVSmDCjDU-hALKUzXGvboQE~IgF7qjwSen5WlQp1oUGm4WNm2663iPNJzgSt5hn-BG3c4hbKkRvsk7567yGLwy2ze1chInoXlQqv2TqIC9~GSe8wV7uLkpIkOtvhlbzvWjhwtobVbrP6XMjQ9v4Aim2fze0xy5aJIJSL4dXBLcqgJoI0DmbYMTDf0sb80SGAksZjwY1uzKckHL4c2ZK-iwU3U0xopwNke5Em47nqOmYK~PnOZac-7cVWPPQ6y9PCuSg1G5gg__");
  background-size: cover;
  background-position: center;
  margin-top: 24px;
  color: white;
}

.container1 h1 {
  font-size: 13px;
}

.container1 p {
  width: 585px;
  font-size: 60px;
  margin-bottom: 250px;
}
.products {
  width: 1570px;
  height: 839px;

  display: flex;
  justify-content: center;
  position: relative;
}

.row {
  width: 1110px;
  height: 406px;
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10%;
}
.box {
  background-color: white;
  width: 350px;
}

.container3 {
  width: 1110px;
  height: 1160px;

  
}
.title p {
  font-size: 32px;
  text-align: center;
  margin-bottom: 58px;
}

.row1 {
  height: 423px;

  
}

.con {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  width: 255px;
  height: 432px;
  gap: 30px;
}

.content_image {
  width: 255px;
  height: 300px;
  background-color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.row2{
  margin-top: 74px;
 

}
.container4{
  width:1570px;
  height:770px;
  background-color: blue;
  display: flex;
  gap:219px;

  
  
}

.text4{
  width:410px;
  height:280px;
  background-color: azure;
  margin-top: 249px;
  margin-right: 310px;
  margin-bottom: 241px;
}
.con_image{
  width:401px;
  height:482px;
  margin-top: 140px;
  margin-left: 230px;
  margin-bottom: 148px;
}
.container5{
  width:1570px;
  height:770px;
  background-color:#161C2D;
  display: flex;
  gap:220px;
  
}
.text5{
  width:540px;
  height:389px;
  background-color: antiquewhite;
}

.container{
  width:1568px;
  height:792px;

}

.image6{
  background-image: url("https://s3-alpha-sig.figma.com/img/1665/5035/7de389adc3d05bcf51e5f29e04ce360d?Expires=1717372800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=cBm5lXwQA8a1fQjnqkvMH18vuG1EAwZozJjP20oL-Y1sIaLfzqRjenGxZXGuRyiY7PgaJTdGwWsNsc00RL2V22uXenTsKuaq0Bnv2ZKbMwVP14hb7CHxETpg2ExHbsQLXFvsCy4aLk7NgI6zf0fHfBo0EFyL0uIdguRy3ZRWby7aGQJ9rC-G1vxR6R81sRf45gY4pK6AD0~ldc4AFDPlRNSynxQ573C9Elf4Nhycv~j~zE~0fskLSTt2cf4pw7WWZLsTvKNZWaTZELw-WguGszqCCzAQLLzymG5hVmpm10D-62BLuwHJTzoqpJgh5W-W9qIRch9QnbPtdf~rNAEYOA__");
  width:1568px;
  height:792px;
  background-size: cover;
  background-position: center;
}

.end{
  width:1601px;
margin-bottom: 108px;

}

.end{
  display: flex;
  justify-content: space-around;

  
}

.horizontal_line{
  width: 100%;
  height:58px;

}
.nice{
  display: flex;
  gap:500px;
  
}
.nice1{
  display: flex;
  gap:10px;
  justify-content: flex-end;
  align-items: 
  
}